.cartItem {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 32px;
}

.image {
  height: 80px;
  object-fit: contain;
}

.priceText {
  font-weight: bold;
}

.title {
  width: 320px;
}

.quantity {
  width: 80px;
}
