.card {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;

  padding: 12px;

  border-radius: 8px;
  border: 1px solid rgb(218, 218, 218);
}

.image {
  height: 80px;
  object-fit: contain;
}

.text {
  display: inline-flex;
  height: 90px;
  overflow: hidden;
}

.priceText {
  font-weight: bold;
}

.ctaWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
