.home {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.cta {
  padding: 12px 24px 12px 24px;
  background-color: black;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 12px;
  border: none;
}

.cta:hover {
  background-color: var(--greyHover);
}
