.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px 0 48px;
  font-weight: bold;
}

.sections {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 12px 0px 12px 0px;
}

.link {
  text-decoration: none;
  text-align: center;
  color: black;
}
