.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px 0 48px;
  font-weight: bold;
}

.sections {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 12px 0px 12px 0px;
}

.link {
  composes: link from '../../css/index.css';
}

.cartIcon {
  composes: link;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

.counter {
  background-color: black;
  color: white;
  border-radius: 100px;
  padding: 2px 8px 2px 8px;
}
